---
layout: empty
---

<style>
  .diagram svg {
    width: 100%;
    height: auto;
  }
  
  .diagram-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65%;
  }
  
  .diagram {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
  
  div.force {
    position: absolute;
    top: 28.5%; bottom: 28.5%;
    left: 30.4%; right: 30.4%;
    
    --x-offset: 9.375%;
    --x-gap: 3.7946%;
    --y-offset: 5%;
  }
  
  div.force-struggle svg {
    position: absolute;
    right: calc(50% - var(--x-offset) + var(--x-gap));
    bottom: calc(50% + var(--y-offset));
  }
  
  div.force-attraction svg {
    position: absolute;
    left: calc(50% + var(--x-offset) + var(--x-gap));
    bottom: calc(50% + var(--y-offset));
  }
  
  div.force-anxieties svg {
    position: absolute;
    left: calc(50% - var(--x-offset) + var(--x-gap));
    top: calc(50% + var(--y-offset));
  }
  
  div.force-habits svg {
    position: absolute;
    right: calc(50% + var(--x-offset) + var(--x-gap));
    top: calc(50% + var(--y-offset));
  }
  
  div.force svg {
    transition: transform 0.2s ease;
  }
  
  div.force-struggle   svg { transform-origin: bottom right; }
  div.force-attraction svg { transform-origin: bottom left; }
  div.force-anxieties  svg { transform-origin: top left; }
  div.force-habits     svg { transform-origin: top right; }
  
  div.force[data-size="1"] svg { transform: scale(1.1) }
  div.force[data-size="2"] svg { transform: scale(1.2) }
  div.force[data-size="3"] svg { transform: scale(1.3) }
  div.force[data-size="4"] svg { transform: scale(1.4) }
  
  div.force[data-size="-1"] svg { transform: scale(0.9) }
  div.force[data-size="-2"] svg { transform: scale(0.8) }
  div.force[data-size="-3"] svg { transform: scale(0.7) }
  div.force[data-size="-4"] svg { transform: scale(0.6) }
</style>

<div class="diagram-container">
  <div class="diagram">
    <div class="force force-struggle" data-size="">
      {% include_relative force-struggle.svg %}
    </div>
    <div class="force force-attraction" data-size="">
      {% include_relative force-attraction.svg %}
    </div>
    <div class="force force-anxieties" data-size="">
      {% include_relative force-anxieties.svg %}
    </div>
    <div class="force force-habits" data-size="">
      {% include_relative force-habits.svg %}
    </div>
  </div>
</div>
