<aside class="articles-filter-container" title="Filter articles by topic" data-controller="articles-topics-filter">
  <div class="articles-filter">
    <h2>Just show articles on</h2>
    
    <select class="articles-filter-select" data-controller="select" data-target="articles-topics-filter.select" data-action="articles-list#highlightFilteredArticles articles-topics-filter#update update->select#update">
      {% for topic in site.data.topics-to-filter %}
        <option
        value="{{ topic.value }}"
        data-target="select.option"
        {% if topic.selected %}selected="selected"{% endif %}
        >{{ topic.name }}</option>
      {% endfor %}
    </select>
    <ul class="articles-filter-links" data-controller="menu" data-target="articles-topics-filter.menu" data-action="change->articles-list#highlightFilteredArticles change->articles-topics-filter#update update->menu#update">
      {% for topic in site.data.topics-to-filter %}
        <li>
          <a href="#{{ topic.value }}"
           data-target="menu.link" 
           data-value="{{ topic.value }}" 
           data-action="menu#select"
           {% if topic.selected %}class="active"{% endif %}>{{ topic.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
