<div id="ten-articles">
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup">

    <div style="float: right; margin-left: 4rem;">
      <a href="#top">To top</a>
    </div>

    <h2>
      Ten Articles on Buyer Psychology, Ten Weeks
    </h2>

    <p>Over ten weeks, you receive <strong>ten articles, adapted to your situation</strong>, on how to understand buyer motivation, purchase momentum, applying the Jobs-To-Be-Done theory to writing sales copy, and more.</p>

    <p>
      <a href="mailto:pascal@sharpen.page?subject=Buyer%20Psychology&body=Hi%20Pascal%2C%0A%0AI%27m%20interested%20in%20getting%20articles%20on%20buyer%20psychology%20from%20you%20over%20the%20next%20ten%20weeks.%0A%0ADo%20you%20have%20a%20spot%20to%20start%20this%20week?%0A%0AI%20know%20you%27ll%20be%20tailoring%20the%20articles%20for%20my%20situation%2C%20so%20please%20ask%20me%20follow-up%20questions.%0A%0ALooking%20forward%20to%20it%21">Apply via email</a> or <a href="/ten/">learn more at /ten</a>
    </p>
  </div>
  
  </div>
  