<nav class="navigation" role="navigation">
  <div class="navigation__branding">
    <a class="navigation__logo" href="{{ "/" | relative_url }}">
      <span class="">
        {% include logo.svg.html class="navigation__logo-img" alt="Logo for sharpen.page" %}
      </span>
    </a>
    {% if page.layout == "service" %}
    <div class="navigation__service-slug service-slug">
      {{ page.permalink | replace: "/", "" }}
    </div>
    {% endif %}
    <a href="{{ "/" | relative_url }}" class="navigation__tagline tagline on-{{ page.layout }}" data-behavior="navigation__tagline">
      {% include tagline-product.html %}
    </a>
    <div class="navigation__summary">
      <span class="desktop-only">For sharpening your understanding of the buyer's motivation, your marketing copy and your feature-set.</span>
      <span class="navigation__summary-byline desktop-only"><span class="desktop-only">A service</span> by <a href="https://pascallaliberte.me/" class="text-link">Pascal Laliberté</a></span>
    </div>
  </div>
  <div class="navigation__main">
    <div style="margin-bottom: 1em;">
      <a class="navigation__link navigation__link-services text-link" href="/services/"><strong>Services</strong></a>
    </div>
    
    <div style="margin-bottom: 1em;">
      <a class="navigation__link navigation__link-articles text-link" href="/articles/"><strong>Articles</strong></a>
    </div>
    {% if page.layout == "home" or page.layout == "blog" or page.layout =="post" %}
      {% for post in site.posts limit:1 %}
        <a class="navigation__link navigation__link-latest-article text-link" href="{{ post.url }}"><strong>Latest</strong><span class="navigation__link-latest-article-title"><br>{{ post.title }}</span></a>
      {% endfor %}
    {% endif %}
    
    {% if page.layout == "home" or page.layout == "blog" or page.layout =="post" %}
    <div class="navigation__links">
      <a class="btn btn-be-notified" href="#be-notified">Be notified&hellip;</a>
    </div>
    {% endif %}
  </div>
  
</nav>
