<nav class="navigation" role="navigation">
  <div class="navigation__branding">
    <a class="navigation__logo" href="{{ "/" | relative_url }}">
      <span class="">
        {% include logo.svg.html class="navigation__logo-img" alt="Logo for sharpen.page" %}
      </span>
    </a>
    <div class="navigation__tagline on-{{ page.layout }}" data-behavior="navigation__tagline">
      <div class="navigation__tagline-bg">
        {% include tagline-bg.svg.html %}
      </div>
      <div class="navigation__tagline-text">
        A Product Sharpening Service
      </div>
    </div>
    <div class="navigation__summary">
      <span class="desktop-only">Sharpened using the Jobs-To-Be-Done Theory</span>
      <span class="navigation__summary-byline desktop-only"><span class="desktop-only">A service</span> by <a href="https://pascallaliberte.me/" class="text-link">Pascal Laliberté</a></span>
    </div>
  </div>
  <div class="navigation__links">
    <a class="btn btn-be-notified" href="#be-notified">Be notified&hellip;</a>
  </div>
  {% for post in site.posts limit:1 %}
    <div class="navigation__latest-article">
      <a class="navigation__link navigation__link-latest-article text-link" href="{{ post.url }}"><strong>Latest Article</strong><span class="navigation__link-latest-article-title"><br>{{ post.title }}</span></a>
    </div>
  {% endfor %}
  
</nav>
