<div class="review-player-wrapper" data-controller="review-player" data-action="click->review-player#togglePlayback keydown@window->review-player#controlVideoByKeyboard" data-status="paused" data-layout="thumbnail">
  <div class="review-player">
    <div class="review-player-thumbnail">
      <video class="review-player-thumbnail-video" width="100%"
        playsinline
        data-target="review-player.video"
        data-action="timeupdate->review-player#updateComponents playing->review-player#setAsPlaying pause->review-player#setAsPaused"
      >
        <source
          src="https://res.cloudinary.com/dvn9t9r57sharpenpage/video/upload/v1604610325/review-standard-pre-sale-video-03_ln6mzx.mp4"
          type="video/mp4"
        >
      </video>
    </div>
    <div class="review-player-controls">
      <button data-target="review-player.playPauseButton" data-action="click->review-player#togglePlayback">
        <svg class="i-play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M10 2 L10 30 24 16 Z" />
        </svg>
        <svg class="i-pause" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M23 2 L23 30 M9 2 L9 30" />
        </svg>
      </button>
      <div class="progress-rail">
        <input type="range" value="0" min="0" max="1428"
          data-target="review-player.progressbar"
          data-action="input->review-player#seekVideo"
        >
      </div>
    </div>
    <div class="review-player-site-preview">
      <form class="review-player-site-preview-controls" data-action="submit->review-player#loadSitePreview">
        <div class="review-player-site-preview-field-group">
          <input class="review-player-site-preview-url" type="text" placeholder="Enter your site URL here... (really)" data-target="review-player.sitePreviewURL" data-action="keydown->review-player#stopPropagation" />
          <button class="review-player-site-preview-load-button" data-target="review-player.sitePreviewLoadButton" data-action="click->review-player#loadSitePreview click->review-player#stopPropagation">Preview</button>
        </div>
      </form>
      <ol class="page-structure" data-behavior="site-preview">
        <li>Hero</li>
        <li>Features</li>
        <li>Benefits/How it works/Testimonials</li>
        <li>Signup/Pricing</li>
      </ol>
      <img class="review-player-site-preview-image"
        data-behavior="site-preview"
        data-target="review-player.sitePreviewScreenshot"
        data-action="load->review-player#revealSitePreview"
        />
      <div class="page-demo-iframe-wrapper" data-behavior="site-preview" data-target="review-player.sitePreviewFrameWrapper">
        <iframe class="page-demo-iframe" data-target="review-player.sitePreviewFrame" data-action="load->review-player#checkIframeLoaded" style="background: white;" src="" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    
    <div class="review-player-customize">
      <button data-action="click->review-player#toggleLayout" data-target="review-player.toggleLayoutButton" class="cta-btn">Toggle layout</button>
    </div>
    
    <div class="review-player-paused-overlay" data-target="review-player.pausedOverlay">
      <button data-action="click->review-player#play" class="cta-btn review-player-main-play-button">
        <em>Play Intro</em>
      </button>
    </div>
    
    <div class="review-player-forces-widget-container">
      <iframe class="review-player-forces-widget-iframe" src="/forces-widget/" data-behavior="forces-widget" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
