.announcement {
  width: 100vw;
  background: $color-quaternary;
  text-align: center;
  font-size: to-rem(20px);
  color: black;
  position: relative;
  z-index: 10;
  padding: to-rem(14px 25px 15px);
  font-weight: bold;
  
  a.btn {
    &, &:hover, &:active {
      color: white;
    }
    
    display: inline-block;
    background: $color-primary;
    font-style: italic;
    text-decoration: none;
    
    padding: 0 0.5em 0.05em 0.5em;
    border-radius: to-rem(2px);
    text-shadow: none;
    box-shadow: -2px -2px 0px rgba(255, 255, 255, 1);
    
    &:hover, &:focus {
      background-color: darken($color-primary, 10%);
    }
  }
  
  a {
    color: darken($color-primary, 10%);
    text-decoration: underline;
    
    &:hover, &:focus {
      color: $color-primary;
    }
  }
  
  @media (min-width: ($reference-width-xs-until + 1px)) {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
