.avatar {
  display: inline-block;
  margin-left: 0.3rem;
  transition: transform 0.2s ease;
  position: relative;
  
  &:hover {
    transform: scale(1.2);
    transform-origin: center;
    
    .avatar-greet {
      opacity: 1;
      transform: rotateZ(-1deg) scale(1);
    }
  }
}

.avatar-greet {
  display: inline;
  white-space: nowrap;
  opacity: 0;
  position: absolute;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transform: scale(0.8) rotateZ(2deg);
  transform-origin: center left;
  top: -rem(8px);
  left: calc(100% - 0.3rem);
  padding: rem(3px);
  background-color: $color-highlight;
  color: $color-secondary;
  font-size: rem(14px);
}

.avatar-img-wrapper {
  display: inline-block;
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: -1rem;
}

.avatar-img {
  width: 100%;
  height: auto;
  display: inline;
}
