.avatar {
  display: inline-block;
  margin-left: 0.3rem;
  transition: transform 0.2s ease;
  position: relative;
  
  &:hover {
    transform: scale(1.2);
    transform-origin: center;
    
    .avatar-greet {
      opacity: 1;
      transform: rotateZ(-1deg) scale(1);
    }
  }
}

.avatar-img-wrapper {
  display: inline-block;
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: -1rem;
}

.avatar-img {
  width: 100%;
  height: auto;
  display: inline;
}
