.blog {
  @include container($container-padding);
  margin-top: 60px;

  &__post {

    padding: 0 $container-padding;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lighten($link-color, 40%);

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__date {
    padding-top: rem(15px);
    width: 30%;
    color: $link-color;
  }

  &__content {
    width: 100%;
  }


  &__link {
    &:hover {
      color: $link-color;
    }
  }

  &__title {
    color: $text-color;
    font-size: $font-md;
    padding-top: 0;
  }

  &__excerpt {
    color: $link-color;
  }
}


.post {

  @include container($container-padding);
  
  @media (min-width: $reference-width-md-until) {
    main {
      display: flex;
      flex-direction: row;
    }
    
    .navigation {
      width: rem(500px);
    }
    
    .main-content {
      margin-top: rem(120px);
      margin-left: 0;
      margin-right: 0;
    }  
  }

  color: $color-secondary;

  .job {
    font-weight: normal;
    font-style: italic;
    position: relative;
    margin-top: 3em;
    padding-left: rem(20px);
    border-left: rem(4px) dashed lighten($color-grey, 50%);
    
    mark {
      font-weight: bold;
      font-style: normal;
      position: absolute;
      display: inline-block;
      top: -1.7em;
      left: rem(-15px);
      padding: rem(2px 15px);
    }
  }
  
  .primer {
    margin: rem(1em -15px);
    padding: rem(15px);
    padding-bottom: rem(5px);
    background-color: transparentize(white, 0.5);
    color: #777;
    h2 {
      margin-top: 0;
      color: #555;
    }
    
    @media (min-width: $reference-width-xs-until) {
      margin: rem(2em -40px);
      padding: rem(40px);
      transform: rotateZ(-1deg) perspective(80rem) rotateX(0.5deg);
    }
  }

  &__container {
    padding: 0 $container-padding;
  }

  &__meta {
    margin-top: rem(40px);
    margin-bottom: rem(40px);
    font-size: 0.8em;
    color: lighten($color-secondary, 30%);
  }

}
