@import "../node_modules/awesome-sass-easing/_sass-easing.scss";

// Variables

$container-width: 100%;
$container-padding: rem(15px);

$color-primary: #605aa4;
$color-secondary: #393561;
$color-tertiary: #c16cab;
$color-quaternary: #d2dc00;
$color-grey: #5b5b5b;
$text-color: $color-primary;
$link-color: $color-tertiary;
$link-underline-color: transparentize($color-tertiary, 0.7);
$color-highlight: transparentize($color-quaternary, 0.4);
$color-success: #639403;
$color-error: #611802;

$color-body-background: #ddd;
$color-main-background: #e8e8e8;

$font-xl: rem(58px);
$font-md: rem(22px);
$font-sm: rem(18px);
$font-xs: rem(16px);

$system-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$primary-font-family: jubilat,$system-font-family;
$secondary-font-family: clarendon-wide-stencil,$system-font-family;
$tertiary-font-family: mr-eaves-xl-sans,$system-font-family;

$reference-width-xs:    375px;
$reference-width-xs-until: 525px;
$reference-width-md:    768px;
$reference-width-md-until: 850px;
$reference-width-xl: 1440px;
$lock-font-size-and-center-beyond: 1440px;

body {
  padding-left: rem(15px);
  padding-right: rem(15px);
  * {
    box-sizing: border-box;
  }
}

@media only screen and (max-width: $reference-width-xs-until) {
  html {
    font-size: root-vw-font-size($reference-width-xs);
  }
  
  body {
    padding-left: 0;
    padding-right: 0;
  }
    
  main {
    max-width: 100%;
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
}

@media only screen and (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
  html {
    font-size: root-vw-font-size($reference-width-md);
  }
    
  main {
    max-width: rem(700px);
    margin: 0 auto;
  }
}

@media only screen and (min-width: ($reference-width-md-until + 1px)) {
  html {
    font-size: root-vw-font-size($reference-width-xl);
  }
    
  main {
    max-width: rem(1125px);
    margin: 0 auto;
  }
}

@media only screen and (min-width: ($lock-font-size-and-center-beyond)) {
  html {
    font-size: get-adjusted-font-size-baseline($lock-font-size-and-center-beyond, $reference-width-xl);
  }
}

// Mixin

@mixin container($padding) {
  max-width: $container-width;
  padding: 0 $padding;
  margin: auto;
}


// Global

body {
  font-family: $primary-font-family;
  color: $text-color;
  background-color: $color-body-background;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

::selection {
  background-color: transparentize(mix($color-primary, navy), 0.8);
}

main {
  flex: 1;
  width: 100%;
  background-color: $color-main-background;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color 0.4s ease;

  &:hover {
    color: lighten($color-primary, 5%);
  }
}

li {
  margin-bottom: 0.5em;
  
  &.highlight {
    background-color: $color-highlight;
  }
}

.intro {
  font-family: $tertiary-font-family;
  font-size: rem(40px);
  @media only screen and (max-width: $reference-width-xs-until) {
    line-height: 1.05;
  }
}

hr {
  background-color: lighten($color-grey, 50%);
  border: none;
  height: 0.3em;
  max-width: 10em;
  margin: rem(50px 0 30px);
}

// Shared

.button {
  display: inline-block;
  border: 1px solid lighten($link-color, 40%);
  border-radius: rem(50px);
  padding: rem(15px 30px);
  font-weight: 300;
  text-shadow: none;

  &:hover {
    background-color: lighten($link-color, 49%);
  }
}

.accent {
  color: $color-primary;
}

mark {
  background-color: $color-highlight;
}

.img-max-20em {
  height: auto;
  width: 100%;
  max-width: 20em;
}

// Components & pages

a {
  .main-content &, &.text-link, body:not(.home) &.navigation__logo {
    
    position: relative;
    transition-property: background-position, text-shadow, color;
    transition-duration: 0.5s;
    transition-timing-function: $easeInCirc;
    
    text-shadow: -2px -2px 0px rgba(255, 255, 255, 1);
    
    background: linear-gradient(
      to bottom,
      rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%,
      transparentize($link-color, 0.6) 75.1%, transparentize($link-color, 0.6) 100%
    );
    background-position: 0 0;
    background-repeat: no-repeat;
    
    &:hover, &:active {
      color: mix($color-primary, $color-secondary);
      background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%,
        transparentize($link-color, 0.5) 75.1%, transparentize($link-color, 0.5) 100%
      );
      background-position: 0 4px;
      background-repeat: no-repeat;
      transition-timing-function: $easeOutQuint;
      text-shadow: -2px -2px 0px rgba(255, 255, 255, 0.5);
    }  
  }
  
  body:not(.home) &.navigation__logo {
    text-shadow: none;
    background-image: linear-gradient(
      to bottom,
      rgba(255,255,255,0) 0%, rgba(255,255,255,0) 88%,
      transparentize($link-color, 0.6) 88.1%, transparentize($link-color, 0.6) 100%
    );
    
    &:hover, &:active {
      text-shadow: none;
      background-image: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%, rgba(255,255,255,0) 88%,
        transparentize($link-color, 0.5) 88.1%, transparentize($link-color, 0.5) 100%
      );
    }  
  }
  
  .main-content &.cta-btn {
    display: inline-block;
    background: $color-primary;
    color: white;
    padding: 0 0.5em 0.05em 0.5em;
    border-radius: rem(2px);
    text-shadow: none;
    box-shadow: -2px -2px 0px rgba(255, 255, 255, 1);
    
    .i {
      width: auto;
      height: 1em;
      stroke-width: rem(3px);
      transform: translateY(rem(4px));
      margin-left: 0.1em;
      
      @media only screen and (max-width: $reference-width-xs-until) {
        stroke-width: rem(2px);
      }
    }
    
    &:hover, &:focus {
      background-color: darken($color-primary, 10%);
    }
  }
}

.main-content {
  font-size: rem(22px);
  line-height: (27/22);
  letter-spacing: 0.024em;
  
  @media (min-width: $reference-width-xs-until) {
    margin-left: rem(60px);
    max-width: rem(490px);
    margin-right: rem(60px);
  }
  
  @media (min-width: $reference-width-md-until) {
    margin-left: rem(280px);
    max-width: rem(780px);
    margin-right: rem(60px);
    margin-top: rem(-70px);
  }
  
  .service & {
    margin-top: rem(30px);
    
    @media (min-width: $reference-width-xs-until) {
      margin-left: rem(70px);
    }
    
    @media (min-width: $reference-width-md-until) {
      margin-left: rem(70px);
    }
  }
  
  h1 {
    font-size: rem(35px);
    line-height: (25/30);
    letter-spacing: -0.033em;
    color: $color-secondary;
    font-weight: bold;
  }
  
  h2 {
    color: $color-secondary;
    font-size: rem(28px);
    margin-top: rem(45px);
    margin-bottom: rem(15px);
    font-weight: bold;
  }
  
  h3 {
    font-size: rem(22px);
    color: $color-secondary;
  }
  
  strong {
    color: mix($color-primary, $color-secondary);
  }

}

.home {

  header h1 {
    font-size: rem(18px);
    letter-spacing: -0.02em;
    font-family: $secondary-font-family;
    color: $color-primary;
    text-transform: uppercase;
  }

  &__headline {
    font-size: $font-xl;
  }

}

.footer {
  border-top: 1px solid lighten($link-color, 40%);
  padding: 30px 0;
  margin-top: 80px;

  &__container {
    @include container($container-padding);
    color: $link-color;
  }

}


.mobile-only {
  @media (min-width: 768px) {
    display: none;
  }
}

.drag-to-bookmarks-container {
  border: rem(10px) solid transparentize($color-secondary, 0.9);
  padding: rem(16px 20px 20px);
  
  font-size: rem(12px);
  font-style: italic;
  font-family: $system-font-family;
  color: #444;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  @media (max-width: $reference-width-xs-until) {
    flex-direction: column;
  }
}

a.drag-to-bookmarks-link {
  background: #ccc;
  display: inline-block;
  color: #444;
  border-radius: 1em;
  font-size: rem(12px);
  font-style: normal;
  font-family: $system-font-family;
  padding: 0.3em 1.3em;
  white-space: nowrap;
  margin-right: 2em;
  
  &:hover, &:active {
    background: darken(#ccc, 10%);
    text-shadow: none;
    color: #111;
  }
  
  @media (max-width: $reference-width-xs-until) {
    margin-bottom: 1em;
  }
}

ol.page-structure {
  list-style: none;
  max-width: rem(200px);
  background: transparentize(white, 0.6);
  border: rem(10px) solid transparentize(#D8D8D8, 0.3);
  border-radius: rem(5px);
  padding: 0 !important;
  font-size: rem(16px) !important;
  
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(10px 15px);
    margin: 0 !important;
    font-family: $secondary-font-family;
    border-top: rem(2px) solid transparentize(#D8D8D8, 0.3);
    position: relative;
    
    &:first-of-type {
      padding-top: rem(30px);
      padding-bottom: rem(30px);
      border-top: none;
    }
    
    em {
      display: block;
      margin-left: rem(15px);
      font-size: 0.8em;
      color: #777;
    }
  }
}

.img-zoom {
  
  img {
    display: block;
  }
  
  p {
    margin: 0;
  }
  
  &.two-up {
    @include clearfix;
    
    @media (min-width: $reference-width-xs-until) {
      .left {
        float: left;
        width: 49.5%;
      }
      .right {
        clear: none;
        float: right;
        width: 49.5%;
        margin-left: 1%;
      }
    }
  }
  
  @media (min-width: $reference-width-xs-until) {
    margin-left: rem(-100px);
    margin-right: rem(-120px);
    background: transparentize(white, 0.5);
    padding: rem(6px);
    
    figcaption {
      margin: rem(6px);
    }
  }
  
  @media (max-width: $reference-width-md-until) {
    margin-left: rem(-60px);
    margin-right: rem(-150px);
  }
  
  @media (max-width: $reference-width-xs-until) {
    margin-left: rem(-30px);
    margin-right: rem(-30px);
    background: transparentize(white, 0.5);
    padding: rem(6px 0);
  }
}

.video-list {
  li {
    margin: 0.8em;
  }
  
  .video-link-wrapper {
    display: inline-block;
    margin-left: rem(10px);
    position: relative;
    
    &:before {
      content: '';
      position: absolute;
      left: rem(-10px);
      top: rem(-5px);
      bottom: rem(-5px);
      width: rem(10px);
      background: white;
    }
  }
  .video-link {
    color: $color-secondary;
    display: inline;
    padding: rem(5px 10px 5px 0);
    background: white;
    line-height: 1.1;
    
    a {
      font-weight: bold;
      &, &:hover, &:active {
        background: none;
      }
    }
    
    .i {
      width: auto;
      height: 1em;
      stroke-width: rem(3px);
      transform: translateY(rem(4px));
      margin-left: 0.1em;
      
      @media only screen and (max-width: $reference-width-xs-until) {
        stroke-width: rem(2px);
      }
    }
  }
}
