.home {
  
  h2 {
    margin-top: 3em;
  }
  
  p, h2, h3 {
    hanging-punctuation: first;
  }
  
  .main-content {
    padding-bottom: rem(300px);
    
    .home {
      padding-top: rem(50px);
    }
    
  }
}

.home-jobs {
  margin: 0 rem(10px);
  padding-left: 0;
  & > li {
    list-style-type: none;
    padding: rem(10px 20px);
    background-color: rgba(255,255,255,0.5);
    border-radius: 0.5rem;
    margin: rem(20px) auto;
    
    ul {
      margin-top: rem(20px);
    }
    
    li {
      list-style: square;
    }
  }
  & > li:nth-of-type(4n) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  & > li:nth-of-type(4n+1) {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
  & > li:nth-of-type(4n+2) {
    margin-left: -0.2rem;
    margin-right: 0.7rem;
  }
  & > li:nth-of-type(4n+3) {
    margin-left: 1rem;
    margin-right: 1.2rem;
  }
}

.cta-interstitial {
  padding-top: rem(50px);
  padding-bottom: rem(50px);
  position: relative;
  @media (max-width: ($reference-width-xs-until - 1px)) {
    text-align: center;
    
    &::before, &::after {
      position: absolute;
      content: '';
      width: 0;
      height: rem(30px);
      left: 50%;
      border-left: rem(4px) dashed transparentize($color-grey, 0.5);
    }
    
    &::before {
      top: 0;
    }
    
    &::after {
      bottom: 0;
    }
  }
  @media (min-width: $reference-width-xs-until) {
    margin: rem(20px) 0;
    padding-top: rem(40px);
    padding-bottom: rem(40px);
    margin-left: rem(50px);
    margin-right: rem(-50px);
    border-left: rem(4px) dashed transparentize($color-grey, 0.5);
    padding-left: rem(30px);
  }
  @media (min-width: $reference-width-md-until) {
    margin-left: rem(50px);
    margin-right: rem(50px);
  }
}

.home-personal-intro {
  margin: rem(1em -15px);
  padding: rem(15px);
  padding-bottom: rem(5px);
  background-color: transparentize(white, 0.5);
  position: relative;
  
  h2 {
    margin-top: 0.5em;
  }
  
  @media (min-width: $reference-width-xs-until) {
    margin: rem(1em -100px);
    padding: rem(30px 100px);
    padding-left: rem(50px);
    margin-left: rem(-15px);
    transform: rotateZ(-1deg) perspective(80rem) rotateX(0.5deg);
    
    p {
      font-size: rem(30px);
    }
  }
  
  @media (min-width: $reference-width-md-until) {
    margin: rem(1em -100px);
    padding: rem(30px 100px);
    padding-left: rem(50px);
    margin-left: rem(-55px);
  }
}

.home .maybe-heading {
  position: relative;
  margin-top: 4em;
  
  em {
    position: absolute;
    top: -1.2em;
    left: 0;
    
    display: inline-block;
    color: $color-primary;
    font-size: 0.8em;
    
    &::after {
      content: '...';
    }
  }
}

.home-situations-summary {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: rem(50px);
  margin-bottom: rem(50px);
  
  @media (max-width: $reference-width-xs-until) {
    margin-left: rem(15px);
    font-size: 1em;
  }
  
  @media (min-width: $reference-width-md-until) {
    padding-right: rem(80px);
  }
  
  li {
    position: relative;
    margin-left: 0;
    padding-left: 0;
  }
  
  span {
    position: absolute;
    right: calc(100% + #{rem(5px)});
    display: inline-block;
    text-align: right;
    white-space: nowrap;
  }
}

.home-service-offering-summary {
  margin: rem(1em -15px);
  padding: rem(15px);
  padding-bottom: rem(5px);
  background-color: transparentize(white, 0.5);
  position: relative;
  
  h3 {
    margin-top: 0.5em;
    font-size: rem(30px);
    em {
      font-style: normal;
      text-transform: uppercase;
      font-size: 0.7em;
      color: $color-tertiary;
      font-family: $tertiary-font-family;
    }
  }
  
  .home-service-offering-start-here {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: $tertiary-font-family;
    display: inline-block;
    margin-bottom: 0.5em;
  }
  
  .home-service-offering-terms {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: $tertiary-font-family;
  }
  
  @media (min-width: $reference-width-xs-until) {
    margin: rem(1em -100px);
    padding: rem(30px 100px);
    padding-left: rem(50px);
    margin-left: rem(-15px);
    
    p {
      font-size: rem(25px);
    }
  }
  
  @media (min-width: $reference-width-md-until) {
    margin: rem(1em -100px);
    padding: rem(30px 100px);
    padding-left: rem(50px);
    margin-left: rem(-55px);
  }
}
