.navigation {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  // margin-top: 10px;

  padding-bottom: rem(10px);
  
  @media (max-width: $reference-width-xs-until) {
    margin-right: rem(-15px);
  }
  
  @media (min-width: $reference-width-xs-until) {
    padding-right: rem(20px);
  }
  
  @media (min-width: $reference-width-md-until) {
    padding-left: rem(40px);
  }

  &__branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-weight: 500;
  }

  &__logo {
    margin-top: 0;
    display: inline-block;
    
    @media (min-width: $reference-width-md-until) {
      margin-left: rem(-175px);
    }
  }

  &__logo-img {
    margin-top: rem(-12px);
    height: auto;
    width: rem(326px);
    margin-bottom: rem(26px);
    
    @media (max-width: $reference-width-xs-until) {
      width: rem(259px);
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-left: rem(30px);
    font-size: $font-xs;

    &--active {
      color: $color-primary;
    }
  }
  
  &__tagline {
    display: block;
    margin-left: rem(-15px);
    @media (min-width: $reference-width-md-until) {
      margin-left: 0;
    }
    margin-top: rem(10px);
    position: relative;
    &-bg > svg {
      width: rem(353px);
      height: auto;
    }
    &-text {
      font-size: rem(68px);
      font-family: $tertiary-font-family;
      font-weight: 200;
      color: white;
      line-height: (57/68);
      letter-spacing: -0.0113em;
      text-transform: uppercase;
      
      width: 1em;
      position: absolute;
      left: rem(15px);
      top: rem(5px);
    }
    
    .post & {
      &-bg > svg {
        width: rem(300px);
      }
      
      &-text {
        font-size: rem(57px);
        top: rem(6px);
      }
    }
  }
  
  &__summary {
    .home & {
      display: none;
    }
    
    .desktop-only {
      @media (max-width: $reference-width-md-until) {
        display: none;  
      }
    }
    
    font-size: rem(32px);
    line-height: 1;
    letter-spacing: -0.036em;
    font-family: $tertiary-font-family;
    font-style: italic;
    max-width: rem(269px);
    color: $color-primary;
    margin-top: rem(32px);
    
    &-byline {
      display: block;
      margin-top: rem(8px);
      font-size: rem(22px);
      color: #333;
      opacity: 0.6;
      a {
        color: inherit;
      }
    }
  }
  
  .nav-links {
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: rem(20px);
    position: relative;
    margin-top: 1em;
    width: 100%;
    
    @media (max-width: $reference-width-md-until) {
      .btn {
        position: absolute;
        bottom: rem(15px);
        right: rem(15px);
      }  
    }
  }
  
  .btn {
    font-size: rem(20px);
    display: inline-block;
    height: auto;
    white-space: nowrap;
    line-height: 1.2;
    padding: 0.3em 0.7em;
    background-color: $color-primary;
    color: white;
    -webkit-appearance: none;
    border-radius: rem(4px);
    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
  
  .btn-be-notified {
    display: none;
    .home & {
      display: inline;
    }
  }

}
