.navigation {

  @include container($container-padding);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  // margin-top: 10px;

  padding-bottom: 10px;
  padding-right: 20px;

  &__branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-weight: 500;
  }

  &__logo {
    margin-top: 10px;
  }

  &__logo-img {
    margin-top: -12px;
    height: 83px;
    width: 229px;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-xs;

    &--active {
      color: $color-primary;
    }
  }
  
  &__tagline {
    display: block;
    font-family: $tertiary-font-family;
    font-size: 68px;
    font-weight: 200;
    color: white;
    line-height: (57/68);
    letter-spacing: -0.0113em;
    text-transform: uppercase;
    margin-left: -15px;
    margin-top: 10px;
    position: relative;
    &-text {
      width: 1em;
      position: absolute;
      left: 15px;
      top: 5px;
    }
  }
  
  .nav-links {
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
    position: relative;
    margin-top: 1em;
    width: 100%;
    
    @media (max-width: 767px) {
      .btn {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }  
    }
  }
  
  .btn {
    display: inline-block;
    height: auto;
    white-space: nowrap;
    line-height: 1.2;
    padding: 0.3em 0.7em;
    background-color: $color-primary;
    color: white;
    -webkit-appearance: none;
    border-radius: 4px;
    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

}
