.navigation {

  @include container($container-padding);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // margin-top: 10px;

  padding-bottom: 10px;

  &__branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-weight: 500;
  }

  &__logo {
    margin-top: 10px;
  }

  &__logo-img {
    margin-top: -12px;
    height: 83px;
    width: 229px;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-xs;

    &--active {
      color: $primary-color;
    }
  }
  
  &__tagline {
    display: block;
    font-family: $tertiary-font-family;
    font-size: 68px;
    font-weight: 100;
    line-height: (57/68);
    letter-spacing: -0.0113em;
    text-transform: uppercase;
    margin-left: -10px;
    margin-top: 10px;
    mark {
      display: inline-block;
      background-color: #fcffb9;
      padding: 8px 20px 13px 16px;
      margin: -8px -6px -13px -6px;
    }
    &__first-line-desktop {
      mark {
        margin-right: -25px;
      }
    }
  }

}
