.page {
  @media (min-width: $reference-width-md-until) {
    main {
      display: flex;
      flex-direction: row;
    }
    
    .navigation {
      width: rem(500px);
    }
    
    .main-content {
      margin-top: rem(120px);
      margin-left: 0;
      margin-right: rem(15px);
      
      padding-bottom: rem(300px);
      
      line-height: 1.3;
      
      h1 {
        line-height: 1;
      }
      
      p {
        font-size: rem(22px);
        
        &.post__meta {
          font-size: rem(16px);
        }
      }
      
      h2 {
        font-size: rem(28px);
        
        small {
          text-transform: uppercase;
          font-size: rem(20px);
          line-height: 1;
          color: $color-primary;
        }
      }
      
      blockquote {
        margin: rem(1em -30px);
        padding: rem(15px);
        padding-left: rem(30px);
        padding-bottom: rem(5px);
        background-color: transparentize(white, 0.5);
        position: relative;
        
        @media (min-width: $reference-width-xs-until) {
          margin: rem(1em -40px);
          padding: rem(20px 40px);
          padding-left: rem(50px);
          margin-left: rem(-50px);
          transform: rotateZ(-1deg) perspective(80rem) rotateX(0.5deg);
        }
        
        strong {
          background-color: $color-highlight;
          color: mix($color-secondary, black);
          font-weight: normal;
        }
        
        &::before {
          position: absolute;
          content: "ã€";
          top: rem(20px);
          left: rem(-20px);
          font-size: 3em;
          font-weight: bold;
          color: transparentize($color-secondary, 0.5);
          
          @media (min-width: $reference-width-xs-until) {
            top: rem(27px);
            left: rem(-20px);
          }
        }
        
        @media (max-width: $reference-width-xs-until) {
          & > p {
            text-indent: rem(20px);
          }
        }
      }
    }  
  }
  
  #be-notified {
    @media (min-width: $reference-width-md-until) {
      margin-right: 0;
      position: relative;
      left: rem(-220px);
    }
  }
}
