.page {
  @media (min-width: $reference-width-md-until) {
    main {
      display: flex;
      flex-direction: row;
    }
    
    .navigation {
      width: to-rem(500px);
    }
    
    .main-content {
      margin-top: to-rem(120px);
      margin-left: 0;
      margin-right: to-rem(15px);
      
      padding-bottom: to-rem(300px);
      
      line-height: 1.3;
      
      h1 {
        line-height: 1;
      }
      
      p {
        font-size: to-rem(22px);
        
        &.post__meta {
          font-size: to-rem(16px);
        }
      }
      
      h2 {
        font-size: to-rem(28px);
        
        small {
          text-transform: uppercase;
          font-size: to-rem(20px);
          line-height: 1;
          color: $color-primary;
        }
      }
    }
  }

  .main-content {
    blockquote {
      margin: to-rem(1em -15px);
      padding: to-rem(30px);
      padding-left: to-rem(30px);
      padding-bottom: to-rem(15px);
      background-color: transparentize(white, 0.5);
      position: relative;
      
      @media (min-width: $reference-width-xs-until) {
        margin: to-rem(1em -40px);
        padding: to-rem(20px 40px);
        padding-left: to-rem(50px);
        margin-left: to-rem(-50px);
        transform: rotateZ(-1deg) perspective(80rem) rotateX(0.5deg);
      }
      
      strong {
        background-color: $color-highlight;
        color: mix($color-secondary, black);
        font-weight: normal;
      }
      
      &::before {
        position: absolute;
        content: "〝";
        top: to-rem(20px);
        left: to-rem(-20px);
        font-size: 3em;
        font-weight: bold;
        color: transparentize($color-secondary, 0.5);
        
        @media (min-width: $reference-width-xs-until) {
          top: to-rem(27px);
          left: to-rem(-20px);
        }
      }
      
      @media (max-width: $reference-width-xs-until) {
        & > p {
          text-indent: to-rem(20px);
        }
      }
    }
  }
  
  #be-notified {
    @media (min-width: $reference-width-md-until) {
      margin-right: 0;
      position: relative;
      left: to-rem(-220px);
    }
  }
  
  img {
    width: 100%;
    height: auto;
  }
}
