.review-player-wrapper {
  background: $link-underline-color;
  // background: $color-highlight;
  // background: transparentize($color-primary, 0.7);
  // background: transparentize($color-grey, 0.7);
  width: 100%;
  height: auto;
  position: relative;
  &, * {
    cursor: pointer;
  }
}

.review-player {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: transparent;
  width: auto;
  max-width: 100%;
  height: 0;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.review-player-controls {
  background: $color-secondary;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  
  button {
    flex: 0;
    border: none;
    background: $color-primary;
    color: white;
    svg {
      stroke: white;
      width: auto;
    }
  }
  
  .progress-rail {
    flex: 1;
    position: relative;
    
    // &:before {
    //   position: absolute;
    //   content: '';
    //   top: 50%;
    //   background: transparentize(white, 0.5);
    // }
    
    input[type="range"] {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}

.review-player-thumbnail {
  height: 0;
  background: gray;
  transition: all 0.4s;
  position: absolute;
  overflow: hidden;
}

.review-player-site-preview {
  transition: all 0.4s;
  background: white;
  position: absolute;
  overflow: hidden;
  border-top-left-radius: rem(10px);
  border-top-right-radius: rem(10px);
  
  ol.page-structure {
    max-width: 100%;
    border-color: transparentize(#D8D8D8, 0.6);
    
    li {
      color: transparentize($text-color, 0.8);
    }
  }
  
  .page-demo-iframe-wrapper {
    display: none;
  }

  .review-player-site-preview-controls {
    position: absolute;
    z-index: 100;
    width: 100%;
    padding: rem(4px 50px);
    background: mix($color-secondary, white, 70%);
    border-top-left-radius: rem(10px);
    border-top-right-radius: rem(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .review-player-site-preview-url {
    background: transparentize(white, 0.1);
    font-size: rem(14px);
    width: rem(430px);
    padding: rem(5px);
    padding-left: rem(20px);
    padding-right: rem(100px);
    border-radius: rem(3px);
    border: none;
    font-family: $secondary-font-family;
    display: inline-block;
    
    &:focus {
      background: white;
    }
  }
  
  .review-player-site-preview-field-group {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .review-player-site-preview-load-button {
    border: none;
    background: transparentize($color-secondary, 0.8);
    color: transparentize($color-secondary, 0.5);
    font-family: $secondary-font-family;
    font-size: rem(14px);
    text-transform: uppercase;
    border-radius: rem(3px);
    position: absolute;
    right: rem(5px);
    top: rem(3px);
  }
}

.review-player-site-preview-image {
  width: 100%;
  height: auto;
  transform: translateY(0);
}



.review-player-paused-overlay {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  .review-player-main-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    display: inline-block;
    border: 0;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: visible;
    border-radius: rem(35px 20px 35px 20px);
    padding: rem(15px 25px);
    font-family: $secondary-font-family;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.85;
    transition: all 0.1s ease-in;
    
    &:hover, &:focus {
      opacity: 1;
    }
  }
}

.review-player-wrapper[data-status="paused"] button {
  .i-play { display: block; }
  .i-pause { display: none; }
}

.review-player-wrapper[data-status="playing"] {
  button {
    .i-play { display: none; }
    .i-pause { display: block; }
  }
  
  .review-player-main-play-button {
    transform: translateX(-50%) translateY(-35%);
    opacity: 0;
    pointer-events: none;
  }
}

.review-player-customize {
  position: absolute;
  display: inline-block;

  .cta-btn {
    border: none;
  }
}

@media (max-width: $reference-width-xs-until) {
  .review-player-wrapper {
    width: rem(375px);
    padding-top: 0;
    height: rem(400px);
    margin-left: rem(-15px);
    margin-right: rem(-15px);
  }
  
  .review-player {
    padding-top: 0;
    height: rem(400px);
  }
  
  .review-player-site-preview {
    width: rem(230px);
    height: rem(360px);
    top: rem(15px);
    left: rem(15px);
    
    ol.page-structure {
      margin: rem(5px);
      border-width: rem(5px);
      border-radius: rem(5px);
      
      li {
        padding: rem(30px 20px);
        font-size: rem(15px);
        
        &:first-of-type {
          padding-top: rem(80px);
          padding-bottom: rem(50px);
        }
      }
    }
  }
  
  .review-player-thumbnail {
    width: rem(100px);
    padding-bottom: rem(100px);
    top: rem(15px);
    right: rem(15px);
    border-radius: rem(5px);
    box-shadow: rem(2px) rem(2px) rem(5px) rgba(0,0,0,0.2);
  }
  
  .review-player-controls {
    button {
      width: rem(40px);
      margin: rem(2px);
      padding: rem(2px 10px);
      border-radius: rem(3px);
      svg {
        height: rem(15px);
      }
    }
    
    .progress-rail {
      margin: auto rem(5px);
      
      &:before {
        left: rem(5px);
        right: rem(5px);
        height: rem(2px);
      }
    }
  }
  
  .review-player-customize {
    display: none;
  }
}

@media (min-width: $reference-width-xs-until + 1px) and (max-width: $reference-width-md-until) {
  .review-player-wrapper {
    width: rem(700px);
    padding-top: 0;
    height: rem(600px);
    margin-left: rem(-70px);
    margin-right: rem(-56px);
  }
  
  .review-player {
    padding-top: 0;
    height: rem(600px);
  }
  
  .review-player-site-preview {
    width: rem(440px);
    height: rem(533px);
    top: rem(22px);
    left: rem(22px);
    
    ol.page-structure {
      margin: rem(15px);
      border-width: rem(10px);
      border-radius: rem(10px);
      
      li {
        padding: rem(60px 40px);
        font-size: rem(35px);
        
        &:first-of-type {
          padding-top: rem(100px);
          padding-bottom: rem(70px);
        }
      }
    }
  }
  
  .review-player-thumbnail {
    width: rem(190px);
    padding-bottom: rem(190px);
    top: rem(22px);
    right: rem(22px);
    border-radius: rem(10px);
    box-shadow: rem(5px) rem(5px) rem(15px) rgba(0,0,0,0.2);
  }
  
  .review-player-wrapper[data-layout="bigger-video"] {
    .review-player-thumbnail {
      width: rem(280px);
      height: rem(280px);
    }
    
    .review-player-site-preview {
      width: rem(345px);
    }
  }
  
  .review-player-controls {
    button {
      width: rem(70px);
      margin: rem(5px);
      padding: rem(5px 15px);
      border-radius: rem(3px);
      svg {
        height: rem(25px);
      }
    }
    
    .progress-rail {
      margin: auto rem(10px);
      
      &:before {
        left: rem(10px);
        right: rem(10px);
        height: rem(2px);
      }
    }
  }
  
  .review-player-customize {
    position: absolute;
    bottom: rem(60px);
    right: rem(33px);
  }
}

@media (min-width: $reference-width-md-until + 1px) {
  .review-player-wrapper {
    width: rem(1125px);
    padding-top: 0;
    height: rem(633px);
    margin-left: rem(-70px);
    margin-right: rem(-275px);
  }
  
  .review-player {
    padding-top: 0;
    height: rem(633px);
  }
  
  .review-player-site-preview {
    width: rem(787px);
    height: rem(554.5px);
    top: rem(33px);
    left: rem(22px);
    
    ol.page-structure {
      margin: rem(15px);
      margin-top: rem(50px);
      border-width: rem(15px);
      border-radius: rem(15px);
      
      li {
        padding: rem(80px 80px);
        font-size: rem(45px);
        
        &:first-of-type {
          padding-top: rem(120px);
          padding-bottom: rem(90px);
        }
      }
    }
    
    .page-demo-iframe-wrapper {
      position: absolute;
      top: rem(50px);
      left: 0;
      z-index: 10;
      width: rem(787px);
      height: rem(2218px);
      
      &.show {
        display: block;
      }
    }
    
    .page-demo-iframe {
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s;
      width: rem(1200px);
      height: rem(4800px);
      transform: scale(0.6558333333);
      transform-origin: top left;
      pointer-events: none;
    }
  }
  
  .review-player-thumbnail {
    width: rem(247px);
    padding-bottom: rem(247px);
    top: rem(33px);
    right: rem(33px);
    border-radius: rem(10px);
    box-shadow: rem(5px) rem(5px) rem(15px) rgba(0,0,0,0.2);
  }
  
  .review-player-controls {
    button {
      width: rem(70px);
      margin: rem(5px);
      padding: rem(5px 15px);
      border-radius: rem(3px);
      svg {
        height: rem(25px);
      }
    }
    
    .progress-rail {
      margin: auto rem(10px);
      
      &:before {
        left: rem(10px);
        right: rem(10px);
        height: rem(2px);
      }
    }
  }
  
  .review-player-customize {
    position: absolute;
    bottom: rem(60px);
    right: rem(33px);
  }
  
  .review-player-wrapper[data-layout="bigger-video"] {
    .review-player-thumbnail {
      width: rem(450px);
      height: rem(450px);
    }
    
    .review-player-site-preview {
      width: rem(584px);
    }
    
    .page-demo-iframe {
      width: rem(890px);
    }
  }
}

.punchy-copy {
  font-family: $tertiary-font-family;
  color: $link-color;
  font-size: 2em;
  line-height: 1em;
  position: relative;
  display: inline;
  background-color: #E3DCE1;
  margin-top: rem(15px);
  margin-bottom: rem(15px);
  
  &:before {
    position: absolute;
    content: '';
    right: 100%;
    width: rem(15px);
    top: 0;
    bottom: 0;
    background-color: #E3DCE1;
  }
}

.main-content h1.review-standard-title {
  font-weight: normal;
  color: $color-secondary;
  line-height: 1;
  small {
    font-family: $secondary-font-family;
    font-size: 0.6em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.review-player-forces-widget-container {
  position: absolute;
  bottom: rem(120px);
  right: rem(15px);
  width: rem(280px);
  height: rem(188px);
  z-index: 100;
  
  > iframe {
    background: white;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(rem(10px));
    pointer-events: none;
  }
}

.main-content .review-standard-cta {
  small {
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $color-tertiary;
    font-weight: 300;
  }
  
  .cta-btn {
    font-size: 1.2em;
    padding: 0.2em 0.7em 0.25em 0.7em;
    border-radius: rem(3px);
    display: inline-block;
    margin-right: 0.5em;
    
    &:hover, &:focus {
      color: white;
      text-shadow: none;
    }
  }
} 
