@use "~sass-rem" as to;
.tagline {
  display: block;
  margin-left: to.rem(-15px);
  @media (min-width: $reference-width-md-until) {
    margin-left: 0;
  }
  margin-top: to.rem(10px);
  position: relative;
  
  transform: scale(1);
  transition: transform 0.2s $easeOutBack, margin-bottom 0.2s $easeOutBack;
  transform-origin: top left;
  
  &-bg > svg {
    width: to.rem(353px);
    height: auto;
  }
  &-text {
    font-size: to.rem(68px);
    font-family: $tertiary-font-family;
    font-weight: 200;
    color: white;
    line-height: calc(57/68);
    letter-spacing: -0.0113em;
    text-transform: uppercase;
    
    width: 1em;
    
    [contenteditable] & {
      width: 5em;
    }
    position: absolute;
    left: to.rem(15px);
    top: to.rem(5px);
  }
}

.pitch-solution-tagline {
  width: to.rem(353px);
  @media (min-width: $reference-width-md-until) {
    float: right;
    margin-right: to.rem(-373px);
    
    &.push-down {
      margin-top: to.rem(75px);
    }
    
    &.pull-up {
      margin-top: to.rem(-15px);
    }
  }
}
