.video-thumbnail-box {
  display: inline-block;
  padding: to-rem(10px);
  background: rgba(255, 255, 255, 0.7);
  margin-right: to-rem(5px);
}

.video-thumbnail-link {
  display: block;
  position: relative;
  width: to-rem(360px);
  height: to-rem(225px);
  overflow: hidden;
}

.video-thumbnail-img {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  max-height: 100%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

.video-thumbnail-two-up {
  margin-right: to-rem(-120px);
  margin-left: to-rem(-10px);
}

.post .main-content .video-thumbnail-img {
  width: auto;
  height: auto;
}

@media (max-width: $reference-width-xs-until) {
  .video-thumbnail-link {
    width: to-rem(320px);
    height: to-rem(200px);
  }
  
  .video-thumbnail-two-up {
    margin-left: 0;
    margin-right: 0;
  }
  
  .video-thumbnail-box {
    margin-right: 0;
    margin-bottom: to-rem(10px);
  }
  
}
