---
layout: default
class: blog
---
<div class="blog" data-controller="articles-list">
  
  <h1>{{ page.title }}</h1>
  
  <select data-target="articles-list.select" data-action="articles-list#highlightFilteredArticles">
    <option value="all" selected="selected">All Topics</option>
    <option value="jtbd">Jobs-To-Be-Done</option>
    <option value="optimize">Optimizing, A/B Testing</option>
    <option value="copywriting">Copywriting</option>
    <option value="consulting">Consulting</option>
    <option value="purchase-stories">Purchase Stories</option>
  </select>
  
  <ol reversed>
  {% for post in site.posts %}
    <li>
      <div class="post__title">
        <a class="blog__link" href="{{ post.url | relative_url }}" data-target="articles-list.article" data-categories="{{ post.categories | join:' ' | downcase }}">
          <span class="post__title__decoration">{{ post.title | escape }}</span>
        </a>
      </div>
    </li>
  {% endfor %}
  </ol>
</div>

{% include email-sign-up-form.html context="articles-list" %}
