---
layout: default
class: blog
---
<div class="blog-posts" data-controller="articles-list">
  
  <h1>{{ page.title }}</h1>
  
  <ol reversed start="{{ site.posts.size }}">
  {% for post in site.posts limit:5 %}
  <li>
    {% include blog-link.html post="post" %}
  </li>
  {% endfor %}
  </ol>
  
  <aside class="articles-filter-container" title="Filter articles by topic" data-controller="articles-topics-filter">
    <div class="articles-filter">
      <select class="articles-filter-select" data-controller="select" data-target="articles-topics-filter.select" data-action="articles-list#highlightFilteredArticles articles-topics-filter#update update->select#update">
        {% for topic in site.data.topics-to-filter %}
          <option
          value="{{ topic.value }}"
          data-target="select.option"
          {% if topic.selected %}selected="selected"{% endif %}
          >{{ topic.name }}</option>
        {% endfor %}
      </select>
      <ul class="articles-filter-links" data-controller="menu" data-target="articles-topics-filter.menu" data-action="change->articles-list#highlightFilteredArticles change->articles-topics-filter#update update->menu#update">
        {% for topic in site.data.topics-to-filter %}
          <li>
            <a href="#{{ topic.value }}" data-target="menu.link" data-value="{{ topic.value }}" data-action="menu#select">{{ topic.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </aside>
  
  <ol reversed start="{{ site.posts.size | minus:5 }}">
  {% for post in site.posts offset:5 %}
  <li>
    {% include blog-link.html post="post" %}
  </li>
  {% endfor %}
  </ol>
</div>

{% include email-sign-up-form.html context="articles-list" %}
